body {
     width: 100%;
     height: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 7px;
}
.thick {
    font-weight: bold;
}

hr.solid {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #000;
}

.card-body{
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #ffffff;
    width: 260px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
}


.nav-menu.active {
    left: 0;
    transition: 350ms;
}


.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #2c3130;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 10px;
}

.main-panel {
    background-color: #d6dbe0;
    padding: 10px 10px;
    overflow: auto;
    box-sizing: border-box;
}

.row {
    justify-content: center !important;
}

.heading {
    justify-content: space-between;
    background-color: #ffffff;
}

.heading-title {
    flex: 1;
    box-sizing: border-box;
    flex-basis: 30%;
    padding:1px;
    align-items: center;
}

@media only screen and (min-width: 900px) {
    .heading {
        display: flex;
    }
    .heading-title {
        display: flex;
    }
    
    
}

.card-container-custom {
     display: flex;
        flex-wrap: wrap;
}

.custom-card {
    max-width: 12rem;
    margin: 1rem;
    padding: 0 1rem 0 1rem;
}

.card-custom {
     flex: 1;
     box-sizing: border-box;
     flex-basis: 20%;
     padding:1px;
     align-items: center;
     background-color: #33ac3d;
     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, .125);
     border-radius: .25rem;
     display: flex;
     flex-direction: column;
}

.card-body-custom {
     min-width: -webkit-fill-available;
     background-color: red;
     padding:1rem;
     justify-content: space-around;
}

.card-image-custom {
    text-align: center;
}
.card-header-custom {
     flex: 1;
     box-sizing: border-box;
     flex-basis: 30%;
     padding:1px;
     align-items: center;
     background-color: aqua;
     min-width: -webkit-fill-available;
     justify-content: space-between;
     display: flex;
     padding:0 10px;
}

.wraper-icon {
    text-align: end;
}


@media only screen and (max-width: 900px) {
    #user-title {
        display: none;
    }
    .card-body-custom {
        display: flex;
    }

    .card-content-custom {
        display: flex;
        flex-direction: row;
    }
    .custom-card {
        max-width: none;
    }
}


.wraperAction {
    flex: 1;
    margin : 1rem
}

.add-button {
    flex:1;
    display: flex;
    text-align: center;
    line-height: 45px;
    justify-content: space-around;
    background-color: #55efc4;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    color: #55efc4;
    text-decoration: none;
}

a:hover {
    color: #55efc4;
    text-decoration: none;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h5 {
    color : #55efc4
}